<?xml version="1.0" encoding="UTF-8"?>
<!-- 此处要添加一些约束，配置文件的标签并不是随意命名 -->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    https://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context-4.2.xsd">
    <!-- 0. 读取sql的配置文件  -->
    <context:property-placeholder location="classpath:jdbc.properties"/>
    <!-- 1.用注解的方式添加jDruidDataSource到ioc容器中 -->
    <bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource">
        <property name="url" value="${gxz.url}"/>
        <property name="driverClassName" value="${gxz.driver}"/>
        <property name="username" value="${gxz.username}"/>
        <property name="password" value="${gxz.password}"/>
    </bean>
    <!-- 2.用注解的方式添加JdbcTemplate到ioc容器中 -->
    <bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate" >
        <property name="dataSource" ref="dataSource"/>
    </bean>
</beans>